.home_splash {
  height: calc(100vh - var(--header-height));
  background-color: black;
  display: flex;
  flex-direction: row;
}

.splash_image {
  height: 100%;
  width: 65%;
  object-fit: cover;
}

.splash_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 64px;
}

.stylized_header {
  /* Add font */
  font-size: 48px;
  font-weight: normal;
  color: var(--white);
}

.main_header {
  font-size: 72px;
  font-weight: 300;
  color: var(--white);
}

.splash_button {
  width: 100%;
  border: 4px solid var(--white);
  color: var(--white);
  text-transform: uppercase;
  padding: 16px 32px;
  font-size: 32px;
  background-color: transparent;
  margin-top: 16px;
}

.info_images {
  display: flex;
  flex-direction: column;
  padding: 64px 0;
  align-items: center;
}