.home_splash {
  height: calc(75vh - var(--header-height));
  background-color: black;
  display: flex;
  flex-direction: row;
}

.splash_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.splash_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 64px;
}

.stylized_header {
  /* Add font */
  font-size: 48px;
  font-weight: normal;
  color: var(--white);
}

.main_header {
  font-size: 72px;
  font-weight: 300;
  color: var(--white);
}

.splash_button {
  width: 100%;
  border: 4px solid var(--white);
  color: var(--white);
  text-transform: uppercase;
  padding: 16px 32px;
  font-size: 32px;
  background-color: transparent;
  margin-top: 16px;
}

.splash_button:hover {
  cursor: pointer;
}

.splash_button:hover > .splash_button_text::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.splash_button_text {
  display: inline-block;
  position: relative;
}

.splash_button_text::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.info_images,
.testimonials {
  display: flex;
  flex-direction: column;
  padding: 64px 0;
  align-items: center;
}

.testimonial {
  text-align: center;
  padding: 1% 1.5%;
  border: 2px solid black;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonial_title {
  font-size: 36px;
  font-weight: 400;
  color: var(--black);
}
.stars_container {
  margin: 5% 0;
}
.testimonial_desc {
  font-size: 32px;
  color: var(--black);
}
.testimonial_name {
  margin-top: 10%;
  font-size: 24px;
  color: var(--black);
}
.testimonial_date {
  font-size: 24px;
  color: var(--gray2);
}
.rating {
  width: 40px;
  color: var(--gray2);
}
.rating_checked {
  width: 40px;
  color: var(--star-highlighted);
}
.testimonial_container {
  padding: 2.5%;
  display: flex;
  max-width: 1280px;
  width: 1280px;
  justify-content: space-around;
}