.main_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.navbar {
  background-color: white;
  height: var(--header-height);
  padding: 16px 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  width: 200px;
  cursor: pointer;
  transition: transform 0.25s ease-in-out;
  transform-origin: center;
}

.logo:hover {
  transform: scale(1.1);
  transform-origin: center;
}

.content {
  flex: 1 0 auto;
  width: 100%;
  min-height: calc(100% - var(--header-height));
}

.link {
  text-transform: uppercase;
  font-size: 36px;
  color: var(--gray4);
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--gray4);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link_active {
  text-transform: uppercase;
  font-size: 36px;
  color: var(--gray4);
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-bottom: -2px;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.link_button {
  padding: 8px 32px;
  border: 4px solid var(--gray4);
  cursor: pointer;
  text-align: center;
}

.link_button:hover > .link::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.flex_third {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
}

.flex_third_col {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.flex_third_empty {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
}

.footer {
  background-color: var(--black);
  height: var(--footer-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 64px;
}

.footer_name {
  color: var(--white);
  font-size: 28px;
  font-weight: 300;
}

.footer_text {
  color: var(--white);
  font-size: 18px;
  font-weight: normal;
}

.footer_icon {
  width: 35px;
  height: 35px;
  margin: 0 8px;
  color: var(--white);
  transition: transform 0.25s ease-in-out;
}

.footer_icon:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.menu {
  color: var(--black);
  width: 40px;
}

.nav_items {
  position: absolute;
  top: var(--header-height);
  right: 0;
  width: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  z-index: 3;
  padding: 16px;
  transition: 0.3s;
  transform-origin: top;
}

@media only screen and (max-width: 800px) {
  .navbar {
    padding: 8px;
  }
  .menu {
    margin: 0 8px;
  }
  .footer {
    flex-direction: column;
    height: var(--footer-height);
  }
  .link_button {
    border: 4px solid var(--white);
    margin-top: 4px;
  }
  .link,
  .link_active {
    color: var(--white);
    text-align: center;
  }
  .flex_third_empty {
    flex: 0 0 0;
  }
  .footer_name,
  .footer_text {
    text-align: center;
  }
}
