.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  padding: 10% 15%;
  width: 100%;
  height: 300px;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

.carousel_container {
  width: 100%;
}